*{
    background: black;
}
.banner{
    color: white;
    padding-bottom: 8pt;
    font-family: fantasy;
}
.Blog{
    background: rgba(131, 131, 131, 0.726);
    color: rgb(255, 255, 255);
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    font-weight:lighter;
    border-radius: 30px;
}
#h{
    background: rgba(131, 131, 131, 0.726)
}
main{
    background: white;
    text-align: center; 
    border-radius: 5%;
    padding-top: 5px;
    min-height: 100vh;
}
.link{
    background: rgba(255, 255, 255, 0);
    text-align: center; 
    border-radius: 40%;
    padding-top: 5px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    padding-top: 10px;
    background: rgb(255, 255, 255);
    text-align: center; 
    border-radius: none;
    padding-top: 5px;
    min-height: 5vh;
}

a{
    text-decoration: none;
    background: white;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: blue;
}
a:active{
    color: rgb(61, 190, 241);
    background: rgba(61, 190, 241, 0.384);
    border-radius: 10px;
}